.side-nav {
  width: 250px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0px;
  padding-top: 30px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

.side-nav .logo {
  padding-left: 30px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-top: 0px;
  background-color: transparent;
}

.side-nav .logo:hover {
  background-color: transparent;
  border: none;
}

.side-nav .logo span {
  font-size: 20px;
  font-weight: bold;
}

.side-nav a {
  display: flex;
  align-items: center;
  color: black;
  padding: 30px 40px;
  border-right: 3px solid transparent;
  transition: 0.5s ease-in-out;
}

.side-nav a:hover {
  background-color: rgba(190, 18, 60, 0.1);
  border-color: #be123c;
}

.side-nav a svg {
  font-size: 20px;
}

.side-nav a span {
  margin-left: 10px;
}

.side-nav .logout {
  display: flex;
  align-items: center;
  color: black;
  padding: 30px 40px;
  border-right: 3px solid transparent;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-bottom-right-radius: 20px;
}

.side-nav .logout:hover {
  background-color: rgba(190, 18, 60, 0.05);
  border-color: #be123c;
}

.side-nav .logout svg {
  font-size: 20px;
}

.side-nav .logout span {
  margin-left: 10px;
}

.watch-now-box {
  border: 3px solid rgba(190, 18, 60, 0.5);
  background-color: rgba(190, 18, 60, 0.05);
  border-radius: 30px;
  margin: 30px;
  padding: 30px 20px 20px;
}

.watch-now-box a {
  border: none;
  background-color: rgba(190, 18, 60, 0.2);
  color: #be123c;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
}
